.vaccination-by-gender-container {
  display: flex;
  flex-direction: column;
  background-color: #1c1c2b;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 18px;
}

.vaccination-by-gender-heading {
  color: #94a3b8;
  font-family: Roboto;
  font-size: 20px;
  font-weight: 500;
}
